@import 'nib'

.items-id
  width 5%

.items-product
  width 10%

.table>thead>tr>td.info, .table>tbody>tr>td.info,
.table>tfoot>tr>td.info, .table>thead>tr>th.info,
.table>tbody>tr>th.info, .table>tfoot>tr>th.info,
.table>thead>tr.info>td, .table>tbody>tr.info>td,
.table>tfoot>tr.info>td, .table>thead>tr.info>th,
.table>tbody>tr.info>th, .table>tfoot>tr.info>th
  background-color: #d9edf7
  border-color: darken(#d9edf7, 7%)

.new-version
  position fixed
  top 15px
  right 15px

  max-width 200px
  height auto

  z-index 1000

  text-align center

  p
    padding 0
    margin 0

