<div class="container">
  <div class="navbar navbar-default">
    <div class="navbar-header">
      {{#link-to 'all_items' class="navbar-brand"}}Stretch{{/link-to}}
    </div>
    <ul class="nav navbar-nav navbar-right">
      {{#view App.NavView}}
        {{#link-to "sign_in"}}
          {{#if isSignedIn}}
            Change user
          {{else}}
            Sign in
          {{/if}}
        {{/link-to}}
      {{/view}}
    </ul>
  </div>

  <div class="row">
    <div class="container">
      {{outlet}}
    </div>
  </div>
</div>
