<form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="username">Sprint.ly Email</label>
    {{input value=username placeholder="Sprint.ly Email"
      type='email' class='form-control' id='username'}}
  </div>
  <div class="form-group">
    <label class="sr-only" for="api-key">Sprint.ly Api Key</label>
    {{input value=apiKey placeholder='Sprintly Api Key'
      class='form-control' id='api-key'}}
  </div>
  <button type="submit" class="btn btn-default">Sign in</button>
</form>

<div class="row">
  <div class="col-xs-12">
    <hr>
    <img src="images/api_key_1.png"/>
    <img src="images/api_key_2.png"/>
  </div>
</div>
